<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hiring date notification</title>
  </head>
  <body>
    <h1>Employees hiring date alert</h1>
    <p>Snapshot of {{item_count}} active employee hiring date taken at {{snap_time.strftime('%H:%M on %h %d %Y')}}.</p>
    {% if item_count > 5 %}
    <p>See attachment for employee hiring date table.</p>
    {% else %}
    <hr/>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">RealName</th>
        <th scope="col">BtrustId</th>
        <th scope="col">Hiring Date</th>
        <th scope="col">Store</th>
        <th scope="col">DepartmentName</th>
      </tr>
      </thead>
      <tbody>
      {% for work_item in work_items %}
      <tr>
        <td>{{work_item["RealName"]}}</td>
        <td>{{work_item["BtrustId"]}}</td>
        <td>{{work_item["HiringDate"]}}</td>
        <td>{{work_item["Store"]}}</td>
        <td>{{work_item["DepartmentName"]}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </body>
</html>
